.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper p {
  font-size: 16px;
  font-weight: 600;
}

.position__wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2px;
  grid-template-columns: repeat(9, 1fr);
  border-radius: 8px;
  background-color: #f3f3f3;
}

.ship {
  background-color: white;
  color: rgb(148, 148, 148);
  aspect-ratio: 1 / 1;
  padding: 15px;
  margin: 2px;
  transition: background-colors 0.2s ease;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
}

.ship:hover {
  background-color: #f3f3f3;
}

.ship__active {
  background-color: #e8b83f;
}

.ship__hurt {
  background-color: rgb(219, 147, 53);
  color: white;
}
.ship__sunk {
  background-color: rgb(229, 109, 109);
  color: white;
}
