.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper p {
  font-size: 24px;
  font-weight: 600;
}

.position__wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  border-radius: 8px;
  background-color: #f3f3f3;
}
