.wrapper {
  background-color: white;
  aspect-ratio: 1 / 1;
  padding: 20px;
  transition: background-colors 0.2s ease;
  border: none;
  border-radius: 8px;
  margin: 2px;
}

.wrapper:hover {
  background-color: #f3f3f3;
}
